<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-black/10 dark:border-b-white/10 px-4 sm:px-6 md:px-10 py-3 bg-white dark:bg-[#1a160a]">
    <div class="flex items-center gap-4 text-slate-800 dark:text-slate-200">
        <div class="size-6 text-primary">
            <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z" fill="currentColor"></path>
            </svg>
        </div>
        <h2 class="text-slate-800 dark:text-slate-200 text-lg font-bold leading-tight tracking-[-0.015em]">DentalCare Portal</h2>
    </div>
    <div class="flex flex-1 justify-end gap-4 md:gap-8">
        <div class="hidden md:flex items-center gap-9">
            <a class="text-slate-700 dark:text-slate-300 text-sm font-medium leading-normal" routerLink="/dashboard" routerLinkActive="text-primary font-bold">Dashboard</a>
            <a class="text-slate-700 dark:text-slate-300 text-sm font-medium leading-normal" routerLink="/appointments" routerLinkActive="text-primary font-bold">Appointments</a>
            <a class="text-slate-700 dark:text-slate-300 text-sm font-medium leading-normal" routerLink="/payments" routerLinkActive="text-primary font-bold">Billing</a>
            <a class="text-slate-700 dark:text-slate-300 text-sm font-medium leading-normal" href="#">Messages</a>
            <a class="text-slate-700 dark:text-slate-300 text-sm font-medium leading-normal" href="#">Profile</a>
        </div>
        <button class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-slate-200/50 dark:bg-slate-800 text-slate-700 dark:text-slate-300 gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
            <ng-icon name="solarNotificationBingOutline" class="text-xl"></ng-icon>
        </button>
        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" [style.backgroundImage]="'url(' + currentUser?.avatarUrl + ')'"></div>
    </div>
</header>
